#visualizar__produto__main {
  height: auto;
  margin: 50px 10px;

  #section__visualizar__produto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    #produto__informacoes {
      display: flex;
      align-items: left;
      flex-direction: column;
      justify-content: space-evenly;

      margin-left: 50px;

      height: 220px;
      width: 400px;

      #produto__informacoes__nome {
        color: $myLightGray;
        font-size: 25px;
      }

      #produto__informacoes__preco {
        font-size: 23px;
        font-weight: bolder;
      }

      #produto__informacoes__parcelas {
        color: $myLightGray;
        font-size: 15px;
      }

      #produto__informacoes__rating {
        i {
          cursor: pointer;
          color: white;
          font-size: 13px;
          -webkit-text-stroke: 1px rgb(255, 206, 9);
        }
      }

      #produto__informacoes__descricao {
        font-size: 13px;
      }
    }
  }

  #section__produto__similares {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    border-top: 1px solid rgba(0, 0, 0, 0.3);

    #produto__similares__lista {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      width: inherit;

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 5px;

        height: 210px;
        width: 120px;

        background-color: white;
        box-shadow: 0px -1px 6px 0px #0000001a;

        .produto__similares__informacoes {
          display: flex;
          align-items: left;
          justify-content: space-evenly;
          flex-direction: column;

          height: 100px;
          width: 110px;

          .produto__similares__informacoes__nome {
            color: $myLightGray;
            font-size: 13px;
          }

          .produto__similares__informacoes__preco {
            font-size: 12px;
            font-weight: bolder;
          }

          .produto__similares__informacoes__parcelas {
            color: $myLightGray;
            font-size: 10px;
          }

          .produto__similares__informacoes__rating {
            height: none;

            i {
              cursor: pointer;
              color: white;
              font-size: 9px;
              -webkit-text-stroke: 1px rgb(255, 206, 9);
            }
          }

          .produto__botao {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 20px;
            width: 70px;

            margin-top: 5px;

            background-color: $cor1;
            border-radius: 4px;
            color: white;
            font-size: 11px;
          }
        }
      }

      .container:nth-of-type(n + 5) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #visualizar__produto__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    #section__visualizar__produto {
      flex-direction: column;

      width: 250px;
      margin-left: 0px;

      #produto__informacoes {
        width: inherit;
        margin-left: 0px;
      }
    }

    #section__produto__similares {
      #produto__similares__lista {
        flex-wrap: wrap;

        .container {
          margin: 5px;
        }
      }
    }
  }
}
