@import "../../variaveis.scss";

#excluir_main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 50px 5px;

  #excluir_main__section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    box-shadow: 0px 1px 20px 0px #00000030;
    border-radius: 6px;

    #excluir_main__form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      height: auto;
      width: 650px;

      border-radius: 0px 7px 7px 0px;

      h1 {
        color: $cor3;
      }

      #form__input__produtopesquisa {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        #produtopesquisainput {
          width: 285px;
          height: 40px;

          margin: 15px 0px;

          background-color: $myVeryLightGray;
          border: none;
          outline: none;
          text-indent: 7px;
        }

        #btns__pesquisar_excluir {
          height: 40px;

          border: none;
          background-color: $cor0;
          color: white;
          outline: none;

          &:hover {
            background-color: $cor3;
          }
        }
      }

      .painel__excluir__produto {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 90%;

        margin: 10px;
        padding: 10px;

        box-shadow: 1px 1px 3px #00000024;

        .lista__cards__img {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100px;
        }

        .lista__cards__infos {
          display: flex;
          align-items: left;
          justify-content: space-evenly;
          flex-direction: column;

          width: 100px;

          .cards__infos__nome {
            font-size: 18px;
            color: $myLightGray;
          }

          .cards__infos__preco {
            font-weight: bolder;
          }

          .cards__infos__parcelas {
            color: $myLightGray;
            font-size: 13px;
          }
        }

        .lista__cards__qtd {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 100px;

          .cards__qtd__titulo {
            font-weight: bold;
          }
        }

        .lista__cards__btns {
          width: 160px;

          button {
            border: none;
            background-color: none;

            i {
              font-size: 22px;
            }
          }
        }
      }

      #form__btns {
        #btns__excluir {
          height: 40px;
          width: 100px;
          margin: 20px 0px;

          background-color: $cor3;
          border: none;
          border-radius: 6px;
          color: white;
          outline: none;

          &:hover {
            background-color: $cor0;
          }
        }

        #btns__cancelar {
          height: 40px;
          width: 100px;
          margin: 20px 0px;

          background-color: $cor0;
          border: none;
          border-radius: 6px;
          color: white;
          outline: none;

          &:hover {
            background-color: $cor3;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #excluir_main {
    #excluir_main__section {
      #excluir_main__form {
        width: 395px;
      }
    }
  }
}