#produtos_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
}

#produtos_main #produtos_main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 20px 0px #00000030;
          box-shadow: 0px 1px 20px 0px #00000030;
  border-radius: 6px;
}

#produtos_main #produtos_main__section #produtos_main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 750px;
  width: 650px;
  border-radius: 0px 7px 7px 0px;
}

#produtos_main #produtos_main__section #produtos_main__form h1 {
  color: #8C031C;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0D0D0D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 0px 30px;
  height: 140px;
  width: 380px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg label:hover {
  background-color: #8C031C;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg label i {
  color: white;
  font-size: 40px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg label span:nth-of-type(1) {
  color: white;
  text-align: center;
  font-weight: bold;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg label span:nth-of-type(2) {
  font-size: 13px;
  color: white;
  text-align: center;
  overflow: hidden;
  width: 220px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg #produtoimginput {
  display: none;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoimg #produtoimginput span {
  width: 80px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtonome,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtocategoria,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtopreco,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoparcelas,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtonome span,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtocategoria span,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtopreco span,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoparcelas span,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 50px;
  background-color: #0D0D0D;
  color: white;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtonome input:not([type=submit]), #produtos_main #produtos_main__section #produtos_main__form #form__input__produtonome select, #produtos_main #produtos_main__section #produtos_main__form #form__input__produtonome textarea,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtocategoria input:not([type=submit]),
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtocategoria select,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtocategoria textarea,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtopreco input:not([type=submit]),
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtopreco select,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtopreco textarea,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoparcelas input:not([type=submit]),
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoparcelas select,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtoparcelas textarea,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao input:not([type=submit]),
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao select,
#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao textarea {
  height: 40px;
  width: 330px;
  margin: 15px 0px;
  text-indent: 7px;
  background-color: #dfdfdf;
  border: none;
  outline: none;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao span {
  height: 200px;
}

#produtos_main #produtos_main__section #produtos_main__form #form__input__produtodescricao textarea {
  height: 196px;
  resize: none;
}

#produtos_main #produtos_main__section #produtos_main__form #form__btns #btns__cadastrar {
  height: 40px;
  width: 100px;
  margin: 20px 0px;
  background-color: #3C5473;
  border: none;
  border-radius: 6px;
  color: white;
  outline: none;
}

#produtos_main #produtos_main__section #produtos_main__form #form__btns #btns__cadastrar:hover {
  background-color: #0D0D0D;
}

#produtos_main #produtos_main__section #produtos_main__form #form__btns #btns__cancelar {
  height: 40px;
  width: 100px;
  margin: 20px 0px;
  background-color: #0D0D0D;
  border: none;
  border-radius: 6px;
  color: white;
  outline: none;
}

#produtos_main #produtos_main__section #produtos_main__form #form__btns #btns__cancelar:hover {
  background-color: #3C5473;
  color: white;
}
/*# sourceMappingURL=add_produtos_main.css.map */