@import '../variaveis.scss';

#produtos_main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 900px;

    #produtos_main__section {
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0px 1px 20px 0px #00000030;
        border-radius: 6px;

        #produtos_main__form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            height: 750px;
            width: 650px;

            border-radius: 0px 7px 7px 0px;

            h1 {
                color: $myVeryLightBlue;
            }

            #form__input__produtonome,
            #form__input__produtopreco,
            #form__input__produtodescricao {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 40px;
                    width: 50px;

                    background-color: $myBlue;
                    color: white;
                }

                input:not([type=submit]), textarea {
                    height: 40px;
                    width: 330px;
                    margin: 15px 0px;

                    text-indent: 7px;
                    
                    background-color: $myVeryLightGray;
                    border: none;
                    outline: none;

                }
               
            }

            #form__input__produtodescricao {
                span {
                    height: 200px;
                }
                
                textarea {
                    height: 196px;
                    resize: none;
                }
            }

            #form__btns {
                #btns__cadastrar {
                    height: 40px;
                    width: 100px;
                    margin: 20px 0px;
    
                    background-color: $myDarkBlue;
                    border: none;
                    border-radius: 6px;
                    color: white;
                    outline: none;
    
                    &:hover {
                        background-color: $myBlue;
                    }
                }

                #btns__cancelar {
                    height: 40px;
                    width: 100px;
                    margin: 20px 0px;
    
                    background-color: $myBlue;
                    border: none;
                    border-radius: 6px;
                    color: white;
                    outline: none;
    
                    &:hover {
                        background-color: $myDarkBlue;
                        color: white;
                    }
                }
            }
        }
    }
}

