#login_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 900px;
}

#login_main #main_section__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 20px 0px #00000030;
          box-shadow: 0px 1px 20px 0px #00000030;
  border-radius: 6px;
}

#login_main #main_section__login #login__aside__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 650px;
  width: 450px;
  background-color: #183bc5;
  border-radius: 7px 0px 0px 7px;
}

#login_main #main_section__login #login__aside__infos #login__aside__title, #login_main #main_section__login #login__aside__infos p {
  color: white;
  width: 80%;
}

#login_main #main_section__login #form__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 650px;
  width: 450px;
  border-radius: 0px 7px 7px 0px;
}

#login_main #main_section__login #form__login #form__login__title {
  color: #8C031C;
}

#login_main #main_section__login #form__login #form__input__email,
#login_main #main_section__login #form__login #form__input__user,
#login_main #main_section__login #form__login #form__input__pass,
#login_main #main_section__login #form__login #form__input__repeatpass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login_main #main_section__login #form__login #form__input__email label,
#login_main #main_section__login #form__login #form__input__user label,
#login_main #main_section__login #form__login #form__input__pass label,
#login_main #main_section__login #form__login #form__input__repeatpass label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 50px;
  background-color: #0D0D0D;
  color: white;
}

#login_main #main_section__login #form__login #form__input__email input:not([type=submit]),
#login_main #main_section__login #form__login #form__input__user input:not([type=submit]),
#login_main #main_section__login #form__login #form__input__pass input:not([type=submit]),
#login_main #main_section__login #form__login #form__input__repeatpass input:not([type=submit]) {
  height: 40px;
  width: 230px;
  margin: 15px 0px;
  text-indent: 7px;
  background-color: #dfdfdf;
  border: none;
  outline: none;
}

#login_main #main_section__login #form__login #form__input__email,
#login_main #main_section__login #form__login #form__input__repeatpass {
  display: none;
}

#login_main #main_section__login #form__login #login__form__recoverypassword {
  color: black;
}

#login_main #main_section__login #form__login #form__login__btns #login__form__submit {
  height: 40px;
  width: 100px;
  margin: 20px 0px;
  background-color: #3C5473;
  border: none;
  border-radius: 6px;
  color: white;
  outline: none;
}

#login_main #main_section__login #form__login #form__login__btns #login__form__submit:hover {
  background-color: #0D0D0D;
}

#login_main #main_section__login #form__login #form__login__btns #login__form__cadastrar {
  height: 40px;
  width: 100px;
  margin: 20px 0px;
  background-color: #0D0D0D;
  border: none;
  border-radius: 6px;
  color: white;
  outline: none;
}

#login_main #main_section__login #form__login #form__login__btns #login__form__cadastrar:hover {
  background-color: #3C5473;
  color: white;
}
/*# sourceMappingURL=login_main.css.map */