#footer_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  background-color: #3C5473;
}

#footer_home #footer_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 400px;
  width: 100%;
  background-color: #0D0D0D;
  border-top: 5px solid #8C031C;
}

#footer_home #footer_middle #footer_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 205px;
}

#footer_home #footer_middle #footer_infos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  list-style: none;
}

#footer_home #footer_middle #footer_infos ul a {
  color: #c50024;
}

#footer_home #footer_middle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 330px;
}

#footer_home #footer_middle form #form_input__nome, #footer_home #footer_middle form #form_textarea__mensagem {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px;
}

#footer_home #footer_middle form #form_input__nome input[name=nome], #footer_home #footer_middle form #form_input__nome textarea, #footer_home #footer_middle form #form_textarea__mensagem input[name=nome], #footer_home #footer_middle form #form_textarea__mensagem textarea {
  border: none;
  outline: none;
  width: 370px;
}

#footer_home #footer_middle form #form_input__nome label {
  color: #727272;
}

#footer_home #footer_middle form #form_textarea__mensagem label {
  color: #727272;
}

#footer_home #footer_middle form #form_textarea__mensagem #textarea_mensagem {
  height: 150px;
  resize: none;
}

#footer_home #footer_middle form #form_button {
  height: 40px;
  border: none;
  font-size: 15px;
}

#footer_home #footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: #c50024;
  color: black;
}

@media screen and (max-width: 970px) {
  #footer_home {
    height: auto;
  }
  #footer_home #footer_middle {
    height: 750px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer_home #footer_middle #footer_infos {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 374px;
  }
  #footer_home #footer_middle #footer_infos ul {
    padding: 0;
  }
  #footer_home #footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
  }
}
/*# sourceMappingURL=home_footer.css.map */