@import "../variaveis";

#home_header {
  display: flex;
  flex-direction: column;

  background-color: $myBlue;

  #header_navigation__top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;

    #navigation__top__input {
      display: flex;
      flex-wrap: nowrap;

      width: 40%;

      input {
        padding: none;

        height: 38px;
        width: 90%;

        border: none;
        border-radius: 8px 0px 0px 8px;
        outline: none;
        text-indent: 15px;
      }

      button {
        height: 40px;

        border: none;
        border-radius: 0px 8px 8px 0px;
      }
    }

    #navigation__top__lista {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding-left: 0;
      width: 280px;

      list-style: none;

      li:not(:last-child) {
        .top__lista__link {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 120px;

          background-color: white;
          border-radius: 8px;
        }

        .top__lista__link.painel {
          display: none;
        }
      }

      .top__lista__link.btnmobile {
        display: none;
        color: white;
        font-size: 25px;

        i {
          margin-left: 10px
        }
      }
    }
  }

  #header_navigation__bottom {
    display: flex;
    justify-content: space-evenly;

    border-top: 1px solid rgba(255, 255, 255, 0.303);

    #bottom__mobile__menu {
        display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      padding: 0px;

      list-style: none;

      a {
        color: white;
      }
    }

    #navigation__bottom__menu {
      width: 50%;
      gap: 30px;
    }

    #navigation__bottom__redesocial {
      gap: 20px;
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 1200px) {
  #home_header {
    #header_navigation__top {
        justify-content: space-around;

        #navigation__top__input {
            width: 400px;
        }

      #navigation__top__lista {
        width: 150px;

        li:not(:last-child) {
          display: none;
        }

        .top__lista__link.btnmobile {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    #header_navigation__bottom {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        height: 70px;

        transition: .1s;

        #bottom__mobile__menu {
            display: flex;

            background: none;
            outline: none;
            border: none;

            i {
                color: white;
                font-size: 30px;
            }
        }

        #navigation__bottom__menu, #navigation__bottom__redesocial {
            transition: .2s;
            display: none;
        }

        #navigation__bottom__menu {
            flex-direction: column;
        }
    }
  }
}
