#main_banners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    height: 330px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
            margin: 0px;

            color: white;
            font-size: 40px;
        }

        span {
            color: white;
            font-size: 23px;
        }

    div {
        margin-bottom: -40px;

        input[type=radio] {
            /*remove estilos padrões do radio*/
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            
            width: 20px;
            height: 20px;

            margin-right: 5px;

            border-radius: 50%;
            border: 2px solid rgb(248, 248, 248);
            cursor: pointer;
            transition: 0.2s all linear;
                
                &:checked {
                border: 6px solid rgb(255, 255, 255);
                }
                
        }
    }
}