body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'header' 
    'main' 
    'footer';

    background-color: whitesmoke;

    font-family: 'Oswald', sans-serif;
    a {
        text-decoration: none;
    }
}