#main_produtos {
  .produtos__categorias {
    height: 450px;

    .categorias__topinfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      height: 60px;
      margin: 0px 40px;

      h2 {
        color: $myLightGray;
        margin: 0px;
      }
    }

    .categorias__containers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

      margin: 0px 40px;

      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        height: 370px;
        width: 230px;

        background-color: white;
        box-shadow: $containerShadow;

        .container__produto__img {
          height: 180px;
          width: 90%;
        }

        .container__produto__info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;

          height: 170px;
          width: 85%;

          .produto__nome {
            color: $myLightGray;
          }

          .produto__rating {
            i {
              cursor: pointer;
              color: white;
              font-size: 13px;
              -webkit-text-stroke: 1px rgb(255, 206, 9);
            }
          }

          .produto__preco {
            font-size: 23px;
            font-weight: bolder;
          }

          .produto__parcelas {
            color: $myLightGray;
            font-size: 15px;
          }

          .produto__botao {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 30px;
            width: 100px;

            margin-top: 15px;

            background-color: $cor1;
            border-radius: 8px;
            color: white;
            font-size: 15px;

            &:hover {
              background-color: $cor0;
            }
          }
        }
      }

      .container:nth-of-type(n + 7) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #main_produtos {
    .categorias__containers {
      .container:nth-of-type(n + 5) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #main_produtos {
    .produtos__categorias {
      height: 900px;

      .categorias__containers {
        flex-wrap: wrap;
        justify-content: space-evenly;

        height: 90%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #main_produtos {
    .produtos__categorias {
      height: 740px;

      .categorias__containers {
        margin: 0px;

        .container.section__lista__cards {
          height: 305px;
          width: 195;
          margin: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  #main_produtos {
    .produtos__categorias {
      height: 870px;

      .categorias__containers {

        .container.section__lista__cards {
          height: 360px;
          width: 180px;

          .container__produto__img {
            height: 160px;
            width: 160px;
          }

          .container__produto__info {
            width: 160px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  #main_produtos {
    .produtos__categorias {
      height: 870px;

      .categorias__containers {

        .container.section__lista__cards {
          height: 345px;
          width: 175px;

          .container__produto__img {
            height: 150px;
            width: 150px;
          }

          .container__produto__info {
            width: 150px;
          }
        }
      }
    }
  }
}