@import "../variaveis";

.include_header {
  display: flex;
  flex-direction: column;

  background-color: $cor0;

  #header_navigation__top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 72px;

    #navigation__top__input {
      display: flex;
      flex-wrap: nowrap;

      width: 40%;

      input {
        padding: none;

        height: 38px;
        width: 90%;

        border: none;
        border-radius: 8px 0px 0px 8px;
        outline: none;
        text-indent: 15px;
      }

      button {
        height: 40px;

        border: none;
        border-radius: 0px 8px 8px 0px;
      }
    }

    #navigation__top__lista {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding-left: 0;
      width: 280px;

      list-style: none;

      li:not(:last-child) {
        .top__lista__link {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 120px;

          background-color: white;
          border-radius: 8px;
        }

        .top__lista__link.painel {
          display: none;
        }
      }

      [data-btnMobile] {
        display: none;
        color: white;
        font-size: 25px;

        i {
          margin-left: 10px;
        }
      }
    }
  }

  #header_navigation__bottom {
    display: flex;
    justify-content: space-evenly;

    border-top: 1px solid rgba(255, 255, 255, 0.303);

    #button__mobile__menu {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      padding: 0px;

      list-style: none;

      a {
        color: white;
      }
    }

    #navigation__bottom__menu {
      width: 50%;
      gap: 30px;
    }

    #navigation__bottom__redesocial {
      gap: 20px;
      font-size: 25px;

      a {
        .fa-whatsapp {
          color: #25d366;
        }

        .fa-facebook {
          color: #4267b2;
        }

        .fa-instagram {
          background: -webkit-linear-gradient(#c13584, #833ab4, #ffdc80);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &:hover {
            background: -webkit-linear-gradient(#722350, #5c1b88, #c9ab61);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .include_header {
    #header_navigation__top {
      justify-content: space-around;

      #navigation__top__input {
        width: 400px;
      }

      #navigation__top__lista {
        width: 150px;

        li:not(:last-child) {
          display: none;
        }

        [data-btnMobile] {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .include_header {
    #header_navigation__top {
      #navigation__top__input {
        width: 280px;
      }

      #navigation__top__lista {
        width: 50px;
        
        [data-btnMobile] {
          font-size: 18px;
          
        }
      }
    }
  }
}


@media screen and (max-width: 420px) {
  .include_header {
    #header_navigation__top {
      #navigation__top__input {
        width: 215px;
      }

      #navigation__top__lista {
        width: 20px;

      }
    }
  }
}
