#lista_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#lista_main #section__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lista_main #section__lista .produtos__categorias {
  width: 100%;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100px;
  width: 90%;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 3px #00000024;
          box-shadow: 1px 1px 3px #00000024;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__infos .cards__infos__nome {
  font-size: 18px;
  color: #727272;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__infos .cards__infos__preco {
  font-weight: bolder;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__infos .cards__infos__parcelas {
  color: #727272;
  font-size: 13px;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__qtd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__qtd .cards__qtd__titulo {
  font-weight: bold;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__btns {
  width: 160px;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__btns button {
  border: none;
  background-color: none;
}

#lista_main #section__lista .produtos__categorias .categorias__containerspainel .section__lista__cards .lista__cards__btns button i {
  font-size: 22px;
}
/*# sourceMappingURL=listar_produtos_main.css.map */