$myBlue: #0D0D0D;
$myLightBlue: #8C030E;
$myVeryLightBlue: #8C031C;
$myRed: #c50024;
$myDarkBlue: #3C5473;

$myLightGray: rgb(114, 114, 114);
$myVeryLightGray: #dfdfdf;

$containerShadow: 0px -1px 6px 0px #0000001a;