$myBlue: #0B1726;
$myLightBlue: rgb(18, 101, 255);
$myVeryLightBlue: #006cff70;
$myRed: #8C2634;
$myDarkBlue: #3C5473;

$myLightGray: rgb(114, 114, 114);
$myVeryLightGray: #dfdfdf;

$containerShadow: 0px -1px 6px 0px #0000001a;